/* Start Global Rules */
* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

:root {
    --mainColor: #2196f3;
    --secondColor: #ececec;
    --colorAlt: #1787e0;
    --mainTransition: 0.5s;
    --borderColor: #e9e6e6;
    --mainPadding: 100px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    border: 2px solid;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    margin: 0 auto 80px;
    position: relative;
    z-index: 1;
    font-weight: bold;
    transition: var(--mainTransition);
}

.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--mainColor);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move var(--mainTransition) linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move var(--mainTransition) linear forwards;
}

.main-title:hover {
    color: white;
    border: white 2px solid;
    transition-delay: var(--mainTransition)
}

/* End Global Rules */
/* Start Header */
header {
    --height: 72px;
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    -o-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}


header .logo {
    font-weight: bold;
    width: fit-content;
    color: var(--mainColor);
    font-size: 20px;
    height: var(--height);
    display: flex;
    align-items: center;
}

@media (max-width:767px) {
    header .logo {
        flex-basis: 100%;
        justify-content: center;
        height: 50px;
    }
}

header .main-nav {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    header .main-nav {
        flex-basis: 100%;
        justify-content: center;
    }
}

header .main-nav>li:last-child:hover .mega-menu {
    opacity: 1;
    z-index: 99;
    top: calc(100% + 2px)
}

header .main-nav>li>a {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height);
    position: relative;
    padding: 0 30px;
    transition: var(--mainTransition);
    overflow: hidden;
}

@media (max-width:767px) {
    header .main-navs>li {
        flex-basis: 25%;
    }
}

header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 0;
    left: -100%;
    background-color: var(--mainColor);
}

@media (max-width:767px) {
    header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

header .main-nav>li>a:hover {
    color: var(--mainColor);
    background-color: #fafafa;
    transition: var(--mainTransition);
}

header .main-nav>li>a:hover::before {
    left: 0;
    transition: var(--mainTransition);
}

/* End Header */
/* Start mega-menu */
header .mega-menu {
    position: absolute;
    left: 0;
    padding: 30px;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid var(--mainColor);
    z-index: -1;
    opacity: 0;
    display: flex;
    column-gap: 40px;
    top: calc(100% + 50px);
    transition: top var(--mainTransition), opacity var(--mainTransition);
}

@media (max-width: 576px) {
    header .mega-menu {
        flex-direction: column;
        padding: 5px;
    }
}

header .mega-menu .image img {
    max-width: 100%;
    width: 330px;
}

@media (max-width: 991px) {
    header .mega-menu .image {
        display: none;
    }
}

header .mega-menu .links {
    min-width: 240px;
}

@media (max-width: 991px) {
    header .mega-menu .links {
        flex: 1;
    }
}

@media (max-width: 576px) {
    header .mega-menu .links:first-of-type {
        border-bottom: 1px solid var(--borderColor);
    }
}

header .mega-menu .links li {
    position: relative;
}

header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid var(--borderColor);
}

header .mega-menu .links li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fafafa;
    width: 0px;
    height: 100%;
    transition: var(--mainTransition);
    z-index: -1;
}

header .mega-menu .links li:hover::before {
    width: 100%;
}

header .mega-menu .links li a {
    color: var(--mainColor);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

header .mega-menu .links li i {
    margin-right: 10px;
}

/* End mega-menu */
/* Start Landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0;
    transform: skewY(-6deg);
    transform-origin: top left;
    background-color: #ececec;
    z-index: -1;
}

.landing .container {
    display: flex;
    min-height: calc(100vh - 72px);
    align-items: center;
    padding-bottom: 120px;
    column-gap: 20px;
}

.landing .text {
    flex: 1;
}

@media (max-width:991px) {

    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    letter-spacing: -3px;
    margin: 0;
}

@media (max-width:767px) {

    .landing .text h1 {
        font-size: 26px;
    }
}

.landing .text p {
    font-size: 22px;
    line-height: 1.7;
    margin: 10px 0 0 0;
    max-width: 500px;
}

@media (max-width:991px) {

    .landing .text p {
        margin: 10px auto;
    }
}

@media (max-width:767px) {

    .landing .text p {
        font-size: 16px;
    }
}

.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width:991px) {
    .landing .image img {
        display: none;
    }
}

.landing .go-down {
    color: var(--mainColor);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--mainTransition)
}

.landing .go-down:hover {
    color: var(--colorAlt);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

/* End Landing */
/* Start Articles */

.articles {
    padding: var(--mainPadding) 0;
    position: relative;
    background-color: white;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .box {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--mainTransition), box-shadow var(--mainTransition);
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

.articles .box img {
    max-width: 100%;
}

.articles .box .content {
    padding: 20px;
}

.articles .box .content h3 {
    font-weight: bold;
    margin: 0;
}

.articles .box .content p {
    color: #777;
    text-transform: none;
    margin: 15px 0 0;
    line-height: 1.6;
}

.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .box .info a {
    color: var(--mainColor);
    font-weight: bold;
}

.articles .box .info i {
    color: var(--mainColor);
}

.articles .box:hover .info i {
    animation: left-and-right .6s linear infinite;
}

/* End Articles */
/* Start Gallery */

.gallery {
    padding: var(--mainPadding) 0;
    position: relative;
    background-color: var(--secondColor);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    width: 0;
    height: 0;
    z-index: 1;
}

.gallery .box .image:hover::before {
    animation: flashing 0.7s;
}

.gallery .box img {
    max-width: 100%;
    transition: var(--mainTransition);
}

.gallery .box .image:hover img {
    transform: rotate(6deg) scale(1.1);
}

/* End Gallery */
/* Start Freatures */

.features {
    padding: var(--mainPadding) 0;
    position: relative;
    background-color: white;
    --quality-color: #f44036;
    --time-color: #009688;
    --passion-color: #03a9f4;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .container .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .container .image {
    position: relative;
    overflow: hidden;
}

.features .container .image::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
}

.features .container .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -10px;
    border-width: 0px 0px 170px 500px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    transition: var(--mainTransition);
}

.features .container .box:hover .image::after {
    border-width: 170px 500px 170px 0;
}

.features .container img {
    max-width: 100%;
}

.features .container h2 {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}

.features h2::before {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
}

.features p {
    margin: 30px 0;
    font-size: 22px;
    padding: 25px;
    line-height: 2;
    color: #777;
}

.features a {
    display: block;
    width: fit-content;
    border: 3px solid;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 0px auto 30px;
    font-weight: bold;
    font-size: 20px;
    transition: var(--mainTransition);
    position: relative;
}

.features .box:hover a {
    background-position: left bottom;
    color: white;
}

.features .quality .image::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .quality h2::before {
    background-color: var(--quality-color);
}

.features .quality a {
    color: var(--quality-color);
    border-color: var(--quality-color);
    background: linear-gradient(to right, var(--quality-color) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time .image::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .time h2::before {
    background-color: var(--time-color);
}

.features .time a {
    color: var(--time-color);
    border-color: var(--time-color);
    background: linear-gradient(to right, var(--time-color) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion .image::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .passion h2::before {
    background-color: var(--passion-color);
}

.features .passion a {
    color: var(--passion-color);
    border-color: var(--passion-color);
    background: linear-gradient(to right, var(--passion-color) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .box:hover a::before {
    left: 0;
}

/* End Freatures */
/* Start Testimonials */

.testimonials {
    padding: var(--mainPadding) 0;
    position: relative;
    background-color: var(--secondColor);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box {
    background-color: white;
    position: relative;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    border-radius: 6px;
}

.testimonials .box img {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: 0;
    transform: translateY(-50%);
    border: 10px solid var(--secondColor);
}

.testimonials .box h3 {
    margin: 0 0 10px;
}

.testimonials .box .title {
    color: #777;
    display: block;
    margin-bottom: 10px;
}

.testimonials .box .rate .filled {
    color: #ffc107;
}

.testimonials .box p {
    margin-top: 10px;
    line-height: 1.5;
    color: #555;
    text-transform: none;
    margin-bottom: 0;
}

/* End Testimonials */
/* Start Team */

.team {
    padding: var(--mainPadding) 0;
    position: relative;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.team .box {
    position: relative;
}

.team .box::before,
.team .box::after {
    position: absolute;
    content: "";
    height: 100%;
    width: calc(100% - 60px);
    background-color: #f3f3f3;
    top: 0;
    right: 0;
    border-radius: 6px;
    z-index: -2;
}

@media (max-width: 576px) {
    .team .box::before {
        width: 100%;
    }
}

.team .box::after {
    width: 0;
    transition: var(--mainTransition);
    background-color: #e4e4e4;
    z-index: -1;
}

.team .box:hover::after {
    width: calc(100% - 60px);
}

@media (max-width: 576px) {
    .team .box:hover::after {
        width: 100%;
    }
}

.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team .box img {
    width: calc(100% - 60px);
    transition: var(--mainTransition);
    border-radius: 10px;
}

@media (max-width: 576px) {
    .team .box img {
        width: calc(100% - 70px);
        margin-left: 10px;
    }
}

.team .box:hover img {
    filter: grayscale(100%);
    border-radius: 15px;
}

.team .box .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team .box .social a {
    padding: 15px;
}

.team .box .social i {
    color: #777;
    transition: var(--mainTransition);
}

.team .box .social a:hover i {
    color: var(--mainColor);
}

.team .box .info {
    padding-left: 80px;
}

@media (max-width: 576px) {
    .team .box .info {
        padding-left: 10px;
    }
}

.team .box .info h3 {
    color: var(--mainColor);
    margin-bottom: 0;
    transition: var(--mainTransition);
}

.team .box:hover .info h3 {
    color: #777;
}

.team .box .info p {
    color: #777;
    margin-bottom: 25px;
}

/* End Team */
/* Start Services */

.services {
    padding: var(--mainPadding) 0;
    position: relative;
    background-color: var(--secondColor);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .box {
    background-color: white;
    position: relative;
    box-shadow:
        0 12px 20px 0 rgb(0 0 0 / 13%),
        0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
}

.services .box::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--mainColor);
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--mainTransition);
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box:hover::before {
    width: 100%;
}

.services .box i {
    color: #d5d5d5;
    text-align: center;
    margin: 30px 0 20px;
    display: block;
}

.services .box h3 {
    font-weight: bold;
    color: var(--mainColor);
    text-align: center;
    margin: 20px 0 40px;
    font-size: 25px;
}

.services .box .info {
    width: 100%;
    background-color: #f9f9f9;
    padding: 15px;
    position: relative;
    text-align: right;
}

.services .box .info::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--mainColor);
    color: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.services .box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    height: calc(100% + 0.4px);
    width: 50px;
    top: 0;
    left: 80px;
    transform: skewX(-30deg);
}

.services .box .info a {
    color: var(--mainColor);
    font-weight: bold;
}

/* End Services */
/* Start Our Skills  */

.our-skills {
    padding: var(--mainPadding) 0;
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .our-skills img {
        display: none;
    }
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .skill h3 span {
    color: var(--mainColor);
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    padding: 3px 5px;
    font-size: 12px;
}

.our-skills .skill .progress {
    height: 30px;
    background: #d5d5d5;
    border-radius: 3px;
}

.our-skills .skill .progress span {
    background-color: var(--mainColor);
    display: block;
    height: 100%;
    border-radius: 3px;
}

/* End Our Skills  */
/* Start Work Steps */

.work-steps {
    padding: var(--mainPadding) 0;
    position: relative;
    background-color: var(--secondColor);
}

.work-steps .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-steps .main-image {
    max-width: 100%;
    margin-right: 100px;
}

@media (max-width: 991px) {
    .work-steps .main-image {
        display: none;
    }
}

.work-steps .info .box {
    background-color: #f6f5f5;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 2px solid white;
    overflow: hidden;
}

.work-steps .info .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    transition: var(--mainTransition);
    border-radius: 6px;
    z-index: -1;
}

.work-steps .info .box:hover::before {
    width: 120%;
    height: 120%;
}

.work-steps .info .box img {
    max-width: 65px;
    margin-right: 30px;
}

.work-steps .info .box .text h3 {
    margin: 0;
    font-size: 22px;
}

.work-steps .info .box .text p {
    line-height: 1.7;
    color: #777;
    margin: 10px 0 0;
    font-size: 18px;
}

/* End Work Steps */
/* Start events */

.events {
    padding: var(--mainPadding) 0;
    position: relative;
}

.events .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.events .main-image {
    max-width: 450px;
}

@media (max-width: 991px) {
    .events .main-image {
        display: none;
    }
}

.events .info {
    flex: 1;
}

.events .info .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
}

.events .info .counter .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    width: 75px;
    text-align: center;
    transition: var(--mainTransition);
    height: 145px;
}

.events .info .counter span:first-child {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: var(--mainColor);
    font-weight: bold;
    height: 110.5px;
}

.events .info .counter span:last-child {
    display: block;
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
    transition: var(--mainTransition);
}

.events .info .counter .unit:hover,
.events .info .counter .unit:hover span:last-child {
    border-color: var(--mainColor);
}

.events .info .title {
    margin-top: 40px;
    text-align: center;
}

.events .info .title h2 {
    font-size: 30px;
    letter-spacing: -1px;
}

.events .info .title p {
    color: #777;
    line-height: 1.7;
    font-size: 19px;
    letter-spacing: -1px;
}

.events .subscribe {
    width: 100%;
    margin-top: 50px;
}

.events .subscribe form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    border-radius: 50px;
    background-color: #f6f5f5;
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .events .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}

.events .subscribe form input:first-child {
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 20px;
    text-transform: capitalize;
    flex: 1;
    caret-color: var(--mainColor);
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .events .subscribe form input:first-child {
        border-radius: 0;
    }
}

.events .subscribe form input:first-child:focus::placeholder {
    opacity: 0;
}

.events .subscribe form input:first-child::placeholder {
    transition: opacity var(--mainTransition);
}

.events .subscribe form input:last-child {
    border: none;
    border-radius: 50px;
    color: white;
    padding: 20px;
    font-weight: bold;
    background-color: var(--mainColor);
    cursor: pointer;
    transition: var(--mainTransition);
}

@media (max-width: 767px) {
    .events .subscribe form input:last-child {
        width: fit-content;
        margin: 0 auto;
    }
}

.events .subscribe form input:last-child:hover {
    background-color: var(--colorAlt);
}

/* End events */
/* Start Pricing */

.pricing {
    padding: var(--mainPadding) 0;
    position: relative;
    background-color: var(--secondColor);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .box {
    background-color: white;
    position: relative;
    z-index: 1;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--mainTransition);
}

.pricing .box::after,
.pricing .box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--mainTransition);
}

.pricing .box::before {
    left: 0;
    top: 0;
}

.pricing .box::after {
    right: 0;
    top: 50%;
}

.pricing .box:hover::after,
.pricing .box:hover::before {
    width: 100%;
}

.pricing .box .title {
    font-weight: bold;
    margin: 30px auto;
    font-size: 25px;
    letter-spacing: -1px;
}

.pricing .box img {
    max-width: 80px;
    margin-bottom: 30px;
}

.pricing .box .price {
    margin-bottom: 20px;
}

.pricing .box .price .amount {
    display: block;
    font-size: 60px;
    color: var(--mainColor);
    margin-bottom: 5px;
    font-weight: bold;
}

.pricing .box .price .time {
    color: #777;
}

.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
    text-align: left;
    position: relative;
}

.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--mainColor);
}

.pricing .box a {
    display: block;
    margin: 30px auto 40px;
    padding: 15px 20px;
    border: 2px solid var(--mainColor);
    border-radius: 6px;
    color: var(--mainColor);
    width: fit-content;
    font-weight: bold;
    transition: var(--mainTransition);
}

.pricing .box a:hover {
    background-color: var(--mainColor);
    color: white;
}

.pricing .popular {
    top: -20px;
}

@media (max-width: 1199px) {
    .pricing .popular {
        top: 0;
    }
}

.pricing .popular .label {
    position: absolute;
    writing-mode: vertical-rl;
    top: 0;
    left: 85%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--mainColor);
    padding: 10px 10px 35px;
}

.pricing .popular .label::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 20px;
    transition: var(--mainTransition);
}

.pricing .popular:hover .label:before {
    border-color: transparent transparent #f6f6f6 transparent;
}

/* End Pricing */
/* Start videos */

.top-videos {
    padding: var(--mainPadding) 0;
    position: relative;
}

.top-videos .holder {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondColor);
    border: 1px solid var(--secondColor);
}

@media (max-width: 991px) {
    .top-videos .holder {
        flex-direction: column;
    }
}

.top-videos .holder .list {
    min-width: 300px;
    background-color: white;
}

.top-videos .holder .list .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
}

.top-videos .holder .list .name i {
    cursor: pointer;
    font-weight: 900;
}

.top-videos .holder .list .name i:hover {
    color: var(--mainColor);
}

.top-videos .holder .list ul li {
    padding: 20px;
    border-top: 1px solid var(--secondColor);
    cursor: pointer;
    transition: var(--mainTransition);
}

.top-videos .holder .list ul li:hover {
    background-color: #fafafa;
    color: var(--mainColor);
}

.top-videos .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}

.top-videos .holder .preview {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondColor);
}

.top-videos .holder .preview img {
    max-width: 100%;
}

.top-videos .holder .preview .info {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
}

/* End videos */
/* Start Stats */

.stats {
    padding: var(--mainPadding) 0;
    position: relative;
    background-image: url("../images/stats.jpg");
    background-size: cover;
    min-height: 300px;
}

.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255 255 255 / 95%);
}

.stats h2 {
    font-size: 40px;
    margin: 0 auto 50px;
    width: fit-content;
    font-weight: bold;
    position: relative;
}

@media (max-width: 576px) {
    .stats h2 {
        font-size: 25px;
    }
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .box {
    position: relative;
    padding: 35px;
    background-color: white;
    text-align: center;
    opacity: 0.8;
    transition: var(--mainTransition);
}

.stats .box::before,
.stats .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--mainColor);
    transition: var(--mainTransition);
}

.stats .box::before {
    bottom: 0;
    left: 0;
}

.stats .box::after {
    top: 0;
    right: 0;
}

.stats .box:hover::before,
.stats .box:hover::after {
    height: 100%;
}


.stats .box .number {
    display: block;
    margin: 10px;
    font-size: 50px;
    font-weight: bold;
}

.stats .box .text {
    color: var(--mainColor);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

/* End Stats */
/* Start Discount */

.discount {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.discount .content {
    text-align: center;
    padding: 0 20px;
}

.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount .content p {
    max-width: 500px;
    line-height: 1.7;
    font-size: 18px;
}

.discount .content img {
    width: 300px;
    max-width: 100%;
}

.discount .image {
    background-image: url("../images/discount-background1.jpg");
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
}

.discount .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(23 135 224 / 97%);
    z-index: -1;
}

@media (max-width:991px) {
    .discount .image {
        flex-basis: 100%;
        padding-bottom: 20px;
    }
}

.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

@media (max-width:991px) {
    .discount .form {
        flex-basis: 100%;
        padding-bottom: 20px;
    }
}

.discount .form .input {
    display: block;
    margin: 0 auto 30px;
    width: 90%;
    padding: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--mainColor);
}

.discount .form textarea.input {
    resize: none;
    height: 200px;
}

.discount .form [type="submit"] {
    width: 90%;
    padding: 15px;
    border-radius: 6px;
    color: white;
    background-color: var(--mainColor);
    border: none;
    font-weight: bold;
    font-size: 20px;
    transition: var(--mainTransition);
    cursor: pointer;
}

.discount .form [type="submit"]:hover {
    background-color: var(--colorAlt);
}

/* End Discount */
/* Start Footer */

.footer {
    background-color: #191919;
    padding: var(--mainPadding) 0 0;
    color: white;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

@media (max-width: 576px) {
    .footer .container {
        text-align: center;
    }
}

.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
    font-weight: bold;
}

.footer .box .social {
    display: flex;
}

@media (max-width: 576px) {
    .footer .box .social {
        justify-content: center;
    }
}

.footer .box .social li {
    margin-right: 10px;
}

.footer .box .social a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--mainTransition);
}

.footer .box .social .facebook:hover {
    background-color: #1877f2;
}

.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
    background-color: #ff0000;
}

.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}

.footer ul.links li {
    padding: 15px 0;
    transition: var(--mainTransition);
}

.footer ul.links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer ul.links li a {
    color: #b9b9b9;
    transition: var(--mainTransition);
}

.footer ul.links li:hover a {
    color: white;
    margin-left: 15px;
}

.footer ul.links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--mainColor);
}

.footer .line {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #b9b9b9;
}

@media (max-width: 576px) {
    .footer .line {
        flex-direction: column;
    }
}

.footer .line i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--mainColor);
}

@media (max-width: 576px) {
    .footer .line i {
        margin: 0 0 10px;
    }
}

.footer .line .info {
    line-height: 1.7;
    flex: 1;
}

.footer .line .info span {
    display: block;
}

.footer .container .box.footer-gallery img {
    width: 78px;
    border: 3px solid white;
    max-width: 100%;
    margin: 2px;
}

.footer .coryright {
    padding: 25px 0;
    text-align: center;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}

.footer .coryright i {
    color: red;
}

.footer .coryright span {
    color: var(--mainColor);
}

/* End Footer */
/* Start Animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translatey(0);
    }

    40%,
    60% {
        transform: translatey(-15px);
    }
}

@keyframes left-move {

    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        border-radius: 0;
        width: 51%;
        height: 100%;
        left: 0;
    }
}

@keyframes right-move {

    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        border-radius: 0;
        width: 50%;
        height: 100%;
        right: 0;
    }
}

@keyframes left-and-right {

    100% {
        transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes change-background {

    0%,
    100% {
        background-image: url("../images/discount-background1.jpg");
    }

    50% {
        background-image: url("../images/discount-background2.jpg");
    }
}

/* End Animation */